%h2 Каменты

.comment
  -@parent.comments.each do |comment|
    %p= comment.body
    %br/

%h2 Добавить камент

= form_for([@parent, @parent.comments.build]) do |f|
  = f.text_area :body
  %br/
  = f.submit
