=simple_form_for (@publication) do |f|
  =f.input :title 
  =f.input :onmain 
  =f.select(:category_id, @categories.collect {|p| [ p.title, p.id ] }) 
  =f.input :slug 
  =f.input :intro 
  =f.input :body 
  =f.file_field :newspic
  =f.submit

