.alert.alert-error
  = flash[:notice]

- @pubs.each do |pub|
  %p
    = pub.title
    = link_to 'редактировать', edit_publication_path(pub)
    
%p  
  = link_to 'Добавить статью', new_publication_path
