.page_block
  .block_hd Свежие комментарии
  .block_content.comment_block
    -@index_comments.each do |comment|
      %p.short_comment
        = truncate(comment.body, :length => 120)
        %br/
        %a.u_pic{:href => "#"}
          - if (comment.autor)
            = comment.autor
          - else
            Анонимов А.А.
        |
        = link_to "статья", comment.commentable
