- title "Жалобы"
%div.single_page
  -@complaints.each do |complaint|
    %div.one_pub
      %h3= link_to complaint.title, complaint 
      %div.text_body
        = truncate(complaint.body, :length => 250)
        = link_to "читать полностью &rarr;".html_safe, complaint

