- title "#{@page.title}"

%div.single_page
  %h1= @page.title
  -if user_signed_in? and current_user.admin?
      %p.edit= link_to 'Редактировать', edit_page_path(@page)
  %div.text_body= @page.body





