-if @post.title
  =button_to "удалить", @post, :method => :delete, :class => "del", :confirm => "Точно?"

=simple_form_for (@post) do |f|
  =f.input :title, :label => 'Заголовок' 
  %label Полный текст  
  =f.cktext_area :body, :toolbar => 'Full', :width => 900, :height => 500
  =f.submit :class => 'btn btn-primary', :value => "Опубликовать"

