/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap_and_overrides
 */

/* основные блоки */
html,body{margin:0;padding:0}
*{
	margin:0;
	padding:0;
	}
body{
	font: 16px arial, sans-chef !important;
	padding:0 !important;
  max-width:  1250px;
	}
div#wrapper{
	float:left;
	width:100%
	}
div#content{
	margin: 0 330px
	}
div#navigation{
	float:left;
	width:270px;
	margin-left:-300px
	}
div#extra{
	float:left;
	width:270px;
	margin-left:-100%;
	padding: 0 25px;
	}
div#footer{
	clear:left;
	width:100%;
  height:30px;
  padding:100px 25px 25px 25px;
  background:url("/assets/footer_gradient.png") left bottom transparent repeat-x;
	}
.foot_menu li{
	margin-right:25px;
  font-size:0.9em;
  color: #fff;
  }
.foot_menu li > a{
	color: #fff;
  }
div#header{
	padding: 40px 25px 0 25px;
	}

img{
	border:none;
	}
h1, h2, h3{
	font-weight:normal;
    }
input, textarea{
	border:1px solid #BFBFBF;
	font-family:arial;
	}
	

a:link, a:visited, a:active{
	color:#0072BB;
  text-decoration: underline;
	}

.clear{
	clear:both;
	height:0px;
	}

/*основные блоки */
#container{
  position:relative;
  height:100%;
  padding:0 10px;
  }
.main_div{
	padding:20px 10px 20px 20px;
	background:#fff;
	margin:0 auto;
	max-width:1280px;
	}
.snd_block{
	padding-top: 0px;
	}
a.logo{
	display:block;
	float:left;
	}
.main_block{
	float:left;
	width:800px;
	}
.right_side{
	float:right;
	width:250px;
	padding-top:15px;
	}
.news_feed{
	padding:1px 10px 20px 15px;
	background:#E0EEF7;
	}
.footer{
	margin-top:160px;
	padding:15px 0 12px 30px;
	color:#333333;
	background:#F2F2F2;
	}
.page_block{
  margin-bottom: 32px;  
  }	
/* шрифты */	
p.news_head{
	margin:20px 0 15px 0;
	font-size:1.1em;
	}
	

	
	
/* всевозможные меню */

.menu li{
	display:block;
	float:left;
	}
.menu_wrap {
  background:url("/assets/topmenu.png") left top transparent repeat-x;  
  margin: 0px;  
  }
.main_menu {
  margin: 0px;  
  }
.main_menu li{
	margin:0;
	padding:9px 27px 5px 27px;
	height:24px;
	border-right:1px solid #8EB5D6;
	color:#fff;
	}
.main_menu li.current{
	background:url("/assets/current_menu.png") left bottom transparent repeat-x;
	}
.main_menu li.search{
  float:right;
  border-right: none;    
  }
.main_menu li.search input{
  padding: 0px 0px 0px 5px;
  width: 155px;
  }

.main_menu li > a{
	color:#fff;
	text-decoration:none;
	font-size: 14px;
	}	
/* верхняя часть */
div.right_top{
	float:right;
	}
.top_menu{
	margin-top:0px;
	}
.top_menu li{
	font-size: 13px;
	margin:0 0 35px 20px;
	display: block;
	float: right;
	}
li.rss{
	background:url("/assets/rss.png") left bottom transparent no-repeat;
	padding-left: 20px;
	}	
/* блоки */

.block_hd{
	background:url("/assets/block_head.png") left top transparent;
	color:#fff;
	height: 41px;
	padding: 8px 0 0 28px;
	font-size: 18px;
  font-weight: 700;
	}
.block_content{
	background: none repeat scroll 0 0 #F3F3F3;
    bottom: 8px;
    font-size: 13px;
    line-height: 1.5em;
    margin:0 0 0 9px;
    padding: 22px 10px 22px 22px;
    position: relative;
	}
.hero img{
	float: left;
	margin-right:10px;
	}
.hero  span{
	color:#818181;
	font-size:0.95em;
	}
.hero  h2 > a{
	} 
.hero  h2{
	margin:0;
	font-size:14px;
	line-height:14px;
	} 
.hero p{
	clear: left;
	padding-top: 12px;
	} 
.galo ul{
	padding-left:0px;
	margin-top: 0;
	}
.galo li{
	display:block;
	margin-bottom: 19px;
	}	
a.go_galo{
	display: block;
	margin-top:10px;
	}
.conf ul{
	padding-left:0px;
  margin-left:0px;
	margin-top: 0;
	}
.conf li{
	display:block;
	margin-bottom: 22px;
	}
.conf h2{
	font-size:14px;
	margin: 0px;
  line-height: 20px;
	}
span.grey{
	color: #7F7F7F;
    font-size: 12px;
	}
a.ask{
	position: relative;
    top: 2px;
	}

	
/* блок "свободное мнение" */
.free_pre{
	margin-bottom: 28px;
	}
.free_pre img{
	float: left;
	margin:0 10px 5px 0;
	}
.free_pre p{
	margin:0px;
	}
.free_pre a{
	clear:left;
	display: block;
	font-size: 13px;
	}
p.free_user{
	font-style: italic;
	font-size: 14px;
	line-height: 14px;
	}
p.free_date{
	color: #808080;
	font-size: 10px;
	}
a.more{
	position: relative;
	bottom: 10px;	
	}
a.write_op{
	display: block;
    margin: 18px 0 10px 0;
    padding-top: 0;
	}

	
/* блок "последине каменты" */
div.comment_block{
	padding:22px 10px 10px 22px; 
	}
p.short_comment{
	font-size: 13px;
	 margin-bottom: 20px;
	}
a.u_pic{
	padding-left:15px;
	background:url("/assets/u_hd.png") left bottom transparent no-repeat;
	}
	
/* блок "наш шиттер" */
.tweet_block{
	padding-bottom: 31px;
	}
.single_tweet{
	margin-bottom: 20px;
	}
p.tweet_time{
	font-size: 10px;
    margin-top: 0;
	}
	
	
/* блок центральный */
#slides{
  position: relative;
  background: #cccccc;
  height: 344px; 
  width: 587px;  
  }
.slides_container {
	width:470px;
	display:none;
	}
div.slider{
	padding-bottom: 35px;
  width:587px;
  float: left;
  height: 345px;
	}
div.imgs{
	float:left;
	width: 537px;
	}
.imgs img{
	display: block;
	}
.pic_navi{
  display: block;	
  float:left;
	width: 50px;
  margin-left: 0px;
	position: absolute;
  top: 0;
  right: 0;
	}
.pic_navi li{
	display:block;
	background:url("/assets/slider_gray.png") left bottom transparent repeat-y;
	width: 10px;
	font-size: 16px;
	padding: 16px 20px;
	font-weight:700;
	}
.pic_navi li > a{
  text-decoration: none;
  color: #000;
	}
.pic_navi li.current{
	background:url("/assets/slider_current.png") left bottom transparent repeat-y;
	}
div.head_actual{
	background:url("/assets/bg_slider.jpg") left bottom transparent;
	padding: 10px 10px 20px 18px;
  width: 559px;
  height: 54px;
	}
.head_actual h1,
.head_actual h1 > a{
	color: #FFFFFF;
  display: inline;
  font-size: 19px;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none;
	}
span.date{
	background: #338DC9;
	padding: 2px 5px;
	color:#fff;
	font-size:12px;
  white-space:nowrap;
	}
span.category{
  font-size:1.4em;
  }
span.category > span{
  font-size: 13px;
  }
.hot_news{
	padding-bottom:20px;
	}
.one_pub > h3{
  display:inline;
  }
.one_pub > p.news_img{
  margin-top: 25px;
  }
.one_pub{
  margin-bottom:30px;  
  }
.hot_news img{
	float:left;
	margin: 7px 20px 15px 0;
	}
.hot_news h1{
	display: inline;
  font-size: 23px;
  font-weight: 700;
  line-height: 29px;
	}
.hot_news h1 > a{
	
	text-decoration:none;
	border-bottom: 1px solid #0072BB;
	}
.hot_news p{
	clear: both;
	padding-bottom: 15px;
	border-bottom: 1px dotted #B2B2B2;
	}
.last_news p{
	margin-bottom: 10px;
	}
span.time{
	color:#B1B1B1;
	font-size:12px;
	}	
div.text_body{
  margin:20px 0;
  font-size: 0.95em;
  line-height: 1.3em;
  }
div.text_body > p{
  font-size: 0.95em;
  line-height: 1.3em;  
  }
div.right_side{
  float: right;
  margin-right: 25px;
  width: 290px; 
  padding-top: 0px;
  }
div.single_page{
  margin:0 30px 0 24px;
  width: 830px;
  float: left;
  }
div.post_area{
  background: none repeat scroll 0 0 #F3F3F3;  
  padding:20px;
  margin-bottom: 30px;
  }
.post_area div.page_head{
  margin-bottom: 25px;  
  }
.post_area h1{
  display:inline;
  font-size:16pt;
  font-weight: 700; 
  }
p.news_img{
  margin-bottom: 25px;  
  }
.tele_block{
  margin-bottom:0px !important;  
  }
.teledom td{
  width: 200px;  
  height: 200px;
  float:left;
  }
.teledom td > div{
  float:left; 
  }
.teledom td.three{
  width: 100px;
  }

.pagination .current a {
	color:red;
  }
div.banner{
  padding:0px 0 0px 8px;
  margin-bottom:32px;  
  }
div.banner > p{
  margin: 0px;  
  }

.simple_form div{
  margin-bottom: 10px;  
  }
label.boolean{
  display:inline;
  margin-left:10px;  
  }
#publication_intro,
#interview_intro,
#hero_intro,
#tele_intro{
  height: 200px;
  width: 600px;
  }
input.btn-primary{
  display:block;
  }
span.cke_skin_kama{
  margin-bottom: 20px;  
  }	


/* каменты */
div.comment{
  margin:20px 0;  
  }
div.comment h2{
  margin-bottom:20px;  
  }
div.lone_comment > p{
  margin-bottom:0px;  
  }
div.lone_comment{
  margin-bottom:25px;  
  }
img.user_pic{
  float: left;
  margin: 0 12px 10px 0;
  }
p.comment_body{
  clear: both;  
  }
input.go_button{
  border:1px solid #356AA0;
  border-radius: 4px;
  font: bold 13px/16px Arial;
  padding: 8px;
  color:#fff;
  background:#356AA0;
  }
#comment_body,
#question_body{
  width: 600px;
  height: 200px;  
  }
#answer_body{
  width: 450px;
  height: 200px;  
  }
#new_answer{
  margin: 15px 0 0 50px;  
  }
p.answer{
  background: none repeat scroll 0 0 #FFFFFF;
  display: inline-block;
  font-size: 14px;
  margin:10px 0 0 20px;
  padding: 10px;  
  }
p.comment_date{
  color: #C4C4C4;
  font-size: 0.7em;
  }	
p.comment_autor{
  font-weight: 700;
  font-size:1.0em;
  }
#new_comment{
  margin-bottom: 35px;  
  }

.one_post{
	margin-bottom:30px;	
	}	
.one_post > h4{
	font-weight: 300;
	display: inline;
	}
span.date_grey{
	color:#9E9E9E;
	font-size:11px;
	white-space: nowrap;
	}
	
/* админка */
div.admin_page{  
  padding:20px;
  margin:0 30px;
  background: none repeat scroll 0 0 #F3F3F3;  
  }
div.one_comment_edit{
  border-bottom: 1px solid #000000;
  font-size: 13px;
  margin-bottom: 15px;
  width: 490px;
  }
div.one_quest_adm{
  border-bottom: 1px solid #000000;
  font-size: 13px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  }
div.admin_comments,
div.admin_quests,
div.admin_users {
  float: left;
  margin-bottom: 30px;
  padding-right: 25px;
  width: 490px;
  }
div.top_nav{
  background:#000;
  color:#fff;
  padding:5px 35px;  
  }
div.top_nav a{
  color: #fff;
  font-size:13px; 
  }
.admin_page .button_to{
  clear:both;  
  }
.admin_page .button_to > div{
  float:right;  
  }
span.error{
  color: #C52F24;
  display: block;
  font-size: 12px;  
  }
div.social_btns > div.one_btn{
  float:left;
  margin-right:20px; 
  max-width: 140px; 
  }
	
	
